.contact {
    position: relative;
    margin-top: 100px;
    background-color: #F9F7FE !important;
    border-radius: 60px 10px 10px 10px;
    padding: 60px 10px;
    text-align: center !important;
}
.contact p {
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    color: #5E6282;
}
.contact input {
    width: 300px !important;
    border: none !important;  
    font-size: 14px;
    line-height: 17px;  
    color: #39425D;
    font-family: Montserrat;
}
.contact_input {
    background: white !important;
    border-radius: 5px !important;
    border: none !important;
    padding: 10px 15px !important;
}
.contact_input svg {
    margin: 0 10px 5px 0;
}
.contact_btn {
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%) !important;
    border-radius: 10px;
    font-family: Open Sans;
    font-weight: 200;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    margin-left: 20px;
    padding: 15px 35px;
    color: white;
}
.contact img:nth-child(5) {
    position: absolute;
    top: 0px;
    right: 0;
}
.contact img:nth-child(6) {
    position: absolute;
    bottom: -120px;
    right: -90px;
}
.contact_messanger {
    position: absolute;
    top: -20px;
    right: -20px;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
}
.contact_messanger svg {
    margin-top: 12px;
}


@media screen and (max-width: 992px) {
    #contact{
        overflow: hidden;
    }
    .contact p {
        width: 80%;
        font-size: 23px;
        line-height: 30px;
    }
    .contact_btn {
        width: 140px;
        margin-top: 20px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .contact img:nth-child(5) {
        display: none;
    }
    .contact img:nth-child(6) {
        display: none;
    }
    .contact_messanger {
        display: none;
    }
    .contact input {
        width: 55% !important;
    }
}