.service_theme p:nth-child(1){
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5E6282;
    text-transform: uppercase;
}
.service_theme p:nth-child(2){
    font-family: Volkhov;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    color: #14183E;
    text-transform: capitalize;
}
.service_theme img {
    float: right !important;
    margin-top: -140px !important;
}
.service_card {
    position: relative;
    width: 23% !important;
    height: 314px;
    background: #ffffff;
}
.service_card:hover {
    transition: all .5s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
}
.service_card img:nth-child(1) {
    float: inline-start !important;
}
.service_card p:nth-child(2) {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1E1D4C;
    margin: 30px 0;
}
.service_card p:nth-child(3) {
    width: 150px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center !important;
    color: #5E6282;
    margin-left: auto;
    margin-right: auto;
}
.service_card img:nth-child(4) {
    position: absolute;
    left: -35px;
    bottom: -35px;
    z-index: -1;
    display: none;
}
.service_card:hover img:nth-child(4) {
    transition: all .5s ease-in-out !important;
    display: block;
}